{% extends 'base.html' %}

{% block content %}

<main class="container py5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi numquam blanditiis sequi, inventore
            repudiandae
            expedita quos, doloremque eum ipsa atque sapiente pariatur distinctio quas optio omnis nostrum nulla. Minima
            blanditiis tenetur enim illum minus beatae nam error esse quam? Et repellat atque accusamus totam iusto esse
            officia
            saepe sed veritatis dolores ullam nisi eum accusantium quo ad laboriosam cupiditate ab placeat, nihil error
            quasi
            doloribus recusandae harum nostrum. Quos dicta ullam maiores error quasi, dignissimos nisi hic obcaecati
            provident
            est facilis, esse quibusdam repellat alias necessitatibus quas debitis possimus, rerum quod cum atque
            veritatis
            distinctio expedita. Aut magni architecto labore.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup">
                Signup
            </a>
            </button>
        </div>
    </section>
</main>

{% endblock %}